utils/extract_results_gs.py
results/assessment_FAGCN_GMNN_w_feats_strategy_identity.out
results/assessment_GCN_GMNN_w_feats_strategy_bestGNNp.out
results/assessment_GCN_GMNN_w_feats_strategy_constant.out
results/assessment_GCN_GMNN_w_feats_strategy_identity.out
results/assessment_MLP.out
results/nohup_recalc_CORA_FAGCN.out
results/results_wikivitals_GCN_s.out
results/results_wikivitals_MLP_s.out
results/selection_FAGCN.out
results/selection_GCN.out
results/selection_MLP.out
results/raw/nohup_dense_GNNq_best_FAGCN_PUBMED.out
results/raw/nohup_dense_GNNq_best.out
results/raw/nohup_GMNN_FAGCN_w_feats_identity_CORA_CITESEER.out
results/raw/nohup_GMNN_FAGCN_w_feats_identity_PUBMED.out
results/raw/nohup_GMNN_w_feats_best_p.out
results/raw/nohup_GMNN_w_feats_constant_GNNp.out
results/raw/nohup_GMNN_w_feats_identity.out
results/raw/nohup_GMNN_wo_feats_best_p_CITESEER_20.out
results/raw/nohup_GMNN_wo_feats_best_p.out
results/raw/nohup_GMNN_wo_feats_constant_GNNp.out
results/raw/nohup_MLP_assessment.out
results/raw/nohup_sparse_GNNq_best.out
results/raw/nohup.out
results/raw/results_assessment_wikivitals_20.out
results/raw/results_assessment_wikivitals_s.out
results/raw/results_assessment_wikivitals_spstrat.out
results/raw/results_wikivitals_20.out
results/raw/results_wikivitals_GCN_s.out
results/raw/results_wikivitals_minigrid.out
results/raw/results_wikivitals_spstrat.out
OLD/_jz_grid_search.py
OLD/_jz_main_grid_search.py
OLD/_jz_one_training.py
OLD/_jz_run_grid_search.sh
OLD/main_assessment_GMNN_2.py
OLD/main_assessment_GMNN_3_w_feats.py
OLD/main_assessment_GMNN.py
OLD/model_selection_results_2.json
OLD/nohup.out
OLD/results_assessment_wikivitals_s.out
OLD/results_pubmed.out
OLD/results.out
OLD/test.py
OLD/test2.py
main_assessment_GMNN_3_w_feats_bis.py
main_assessment_GMNN_wikivitals.py
main_GMNN.py
main_model_selection_GMNN_GNNp.py
main.py
results_assessment_wikivitals_s.err
results_assessment_wikivitals_s.out
_jz_run_grid_search_wikivitals.sh
_jz_run_main_assessment_wikivitals.sh
__pycache__/early_stopping.cpython-39.pyc
__pycache__/genetic_algoritm.cpython-39.pyc
__pycache__/load_datasets.cpython-39.pyc
__pycache__/split.cpython-39.pyc
__pycache__/trainer.cpython-39.pyc
results_tests.py
models/__pycache__/fagcn_copy2.cpython-39.pyc
models/__pycache__/fagcn.cpython-39.pyc
models/__pycache__/gcn.cpython-39.pyc
models/__pycache__/graphSAGE.cpython-39.pyc
models/__pycache__/perceptron.cpython-39.pyc
models/graphSAGE.py
models/gmnn.py
datasets/cora-orig/cora-orig_splits_SAVE.txt
datasets/cora-orig/cora-orig_splits_SAVE2.txt
datasets/cora-orig/cora-orig_test_splits_sparse_strat.txt
datasets/cora-orig/cora-orig-save.npz
datasets/cora-orig/cora-orig2.npz
datasets/pubmed-orig/pubmed-orig_splits_SAVE.txt
datasets/pubmed-orig/pubmed-orig_test_splits_sparse_strat.txt
datasets/pubmed-orig/pubmed-orig-save.npz
datasets/pubmed-orig/pubmed-orig2.npz
datasets/pubmed-orig/pubmed-orig3.npz
grid_search_wikivitals.py
results/raw/results_wikivitals_MLP_20.out
results/raw/results_wikivitals_MLP_spstrat.out
results/raw/results_wikivitals_MLP_s.out
assortativity.py
__pycache__/GMNN.cpython-39.pyc
.gitignore
results/results_assessment_wikivitals_FAGCN_20_recalc.out
results/results_assessment_wikivitals_FAGCN_s_recalc.out
results/results_assessment_wikivitals_FAGCN_spstrat_recalc.out
results/results_assessment_wikivitals_MLP_20.out
results/results_assessment_wikivitals_MLP_s.out
results/results_assessment_wikivitals_MLP_spstrat.out
results/unfinished_results_assessment_wikivitals_FAGCN_20_recalc.out
results/unfinished_results_assessment_wikivitals_FAGCN_s_recalc.out
results/unfinished_results_assessment_wikivitals_FAGCN_spstrat_recalc.out
datasets/wikivitals_new/__classes0.txt
datasets/wikivitals_new/__classes1.txt
datasets/wikivitals_new/__links_filtered.txt
test.md
__pycache__/grid_search.cpython-39.pyc
